---
import ThemeIcon from '@components/ThemeIcon.astro'
import { useLocale } from '@utils/locale'
const { path } = useLocale(Astro.url)

export const prerender = true
---

<div class="my-6 flex">
    <a href={path('/')}  class="hover:cursor-pointer opacity-100 hover:opacity-80 panda-link ">
        <i class="hidden">website header </i>
       <h1>学点毛线</h1>
       <p>学术和技术，以及一些有的没的。</p>
    </a>
    <div class="text-sm place-content-center inline ml-auto">
        <ThemeIcon />
    </div>
</div>
